@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}
header {
    display: block;
    min-height: 10%;
    width: 100%;
    padding: 5px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
}
footer {
    display: block;
    min-height: 5%;
    padding: 5px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
.container {
    display: block;
}
.nav {
    height: 10%;
}
.tab-content {
    display: block;
    min-height: 700px;
}
.form-inline {
    padding-bottom: 20px;
}
.italic {
    font-style: italic;
}